# Protection des fichiers de configuration et base de données
<Files "*.md">
    Order allow,deny
    Deny from all
</Files>

<Files "config/*">
    Order allow,deny
    Deny from all
</Files>

<Files "data/*">
    Order allow,deny
    Deny from all
</Files>




# Redirection HTTPS (décommentez si vous avez SSL)
# RewriteEngine On
# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


# Désactiver l'affichage des erreurs PHP
php_flag display_errors off
php_flag log_errors on

# Empêcher l'accès aux fichiers sensibles
<FilesMatch "\.(scripts|log|json|env|db|sqlite|sqlite3|py|txt|pyc)$">
    Order allow,deny
    Deny from all
</FilesMatch>
